body{margin-left:5%; margin-right:5%; font-size:20px;}

a {text-decoration:none;}
a:hover{color:#00cc00;font-size:22px;} 


.fnt{font-size:20px; font-family:"bookman old style"; font-weight:bold;}
.blu{ color:#000080;}



